.f-container {
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.064);
}
.f-row {
  display: flex;
  justify-content: space-between;
}
.f-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.f-col:first-child img {
  width: 150px;
  margin-bottom: 20px;
}
.f-col:first-child p {
  text-align: center;
 
}
.f-col:nth-child(2) h2,
.f-col:nth-child(3) h2,
.f-col:last-child h2 {
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}
.f-col:nth-child(2) ul li ,
.f-col:nth-child(3) ul li {
color: rgba(190, 52, 52, 0.644);
margin-bottom: 10px;
}

.f-col:nth-child(2) ul li a,
.f-col:nth-child(3) ul li a{
color: rgba(190, 52, 52, 0.644);
letter-spacing: 1.2px;
}

.f-col:nth-child(2) ul li a:hover,
.f-col:nth-child(3) ul li a:hover{
color: rgb(228, 49, 64);
}
.f-copyrow{
  text-align: center;
  font-size: 12px;
  padding: 20px 0;
  letter-spacing: 1.2px;
  
}
@media screen and (max-width:780px) {
  .f-row{
    flex-direction: column;
  }
.f-col{
  margin-bottom: 20px;
}
  
}