.screen-container {
    min-height: 100%;
}

.screen-row{
    display: flex;
    min-height: 10vh;
}

.screen-col{
    height: 100%;
    padding: 10px;
}

.screen-col:first-child{
    display: flex;
    justify-content: center;
    flex: 3;
}

.screen-col:last-child{
    flex: 2;
}

.screen-images{
    width: 50%;

}

.screen-top img{
    width: 250px;
    padding: 20px 0 0 0;
}

.screen-top {
    display: flex;
    justify-content: center;
}

.screen-bottom{
    margin-top: 2px;
    display: none;
    justify-content: space-around    
}

.screen-bottom img {
    width: 75px;
    border-radius: 2px;
    box-shadow: 0 0 5px black;
    padding: 2px;
    cursor: pointer;
    transition:  all 0.5s;
}
.screen-bottom img:hover{
    transform: scale(1.02);
}

.screen-container .fourth-div {
    justify-content: unset !important;
}

.screen-container .fourth-div button {
    margin-right: 50px;
}

.outlet-card{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.quantity{ 
    color : wheat
}

.wish{
    background-color: #4CAF50; /* Green */
    border-radius: 6px;
    border: aliceblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.cart{
    background-color: #ffa707; /* Green */
    border-radius: 6px;
    border: aliceblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.wish:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}